## Part 1

2. Implementation

In [2]:
import pandas as pd
import numpy as np
import sklearn as sk
from IPython.display import display
from sklearn import preprocessing

In [3]:
%matplotlib inline
data = pd.read_csv("data.csv")
(data.head())

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (0,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
1,37404337,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
2,37404356,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0,30,NaN
3,37404330,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07T00:00:00.000Z,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0,30,NaN
4,37404308,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN

## 1. Describe the dataset

## Categories/domains

In [22]:
list(data)

['Id',
 'Title',
 'Company',
 'Date',
 'Location',
 'Area',
 'Classification',
 'SubClassification',
 'Requirement',
 'FullDescription',
 'LowestSalary',
 'HighestSalary',
 'JobType']

## Size of each variation (318477)

In [27]:
data.shape

(318477, 13)

## Structure/format

In [30]:
data.dtypes

Id                   object
Title                object
Company              object
Date                 object
Location             object
Area                 object
Classification       object
SubClassification    object
Requirement          object
FullDescription      object
LowestSalary          int64
HighestSalary         int64
JobType              object
dtype: object

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318477 entries, 0 to 318476
Data columns (total 13 columns):
Id                   318477 non-null object
Title                318477 non-null object
Company              306473 non-null object
Date                 318477 non-null object
Location             197229 non-null object
Area                 122658 non-null object
Classification       197229 non-null object
SubClassification    197229 non-null object
Requirement          318470 non-null object
FullDescription      302302 non-null object
LowestSalary         318477 non-null int64
HighestSalary        318477 non-null int64
JobType              302379 non-null object
dtypes: int64(2), object(11)
memory usage: 31.6+ MB

## attributes/features of review data (Vu)

## 2.Steps used for data preparation and preprocessing

Load data

In [4]:
data = pd.read_csv("data.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (0,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Normalize the data

In [5]:
data_norm = (data["LowestSalary"] - data["LowestSalary"].min()) / (data["LowestSalary"].max() - data["LowestSalary"].min())*20
data_norm

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
5          0.0
6          0.0
7          0.0
8          0.0
9          0.0
10         0.0
11         0.0
12         0.0
13         0.0
14         0.0
15         0.0
16         0.0
17         0.0
18         0.0
19         0.0
20         0.0
21         0.0
22         0.0
23         0.0
24         0.0
25         0.0
26         0.0
27         0.0
28         0.0
29         0.0
          ...
318447    12.0
318448    12.0
318449    12.0
318450    12.0
318451    12.0
318452    12.0
318453    12.0
318454    12.0
318455    12.0
318456    12.0
318457    12.0
318458    15.0
318459    15.0
318460    15.0
318461    15.0
318462    15.0
318463    15.0
318464    15.0
318465    15.0
318466    15.0
318467    15.0
318468    15.0
318469    20.0
318470    20.0
318471    20.0
318472    20.0
318473    20.0
318474    20.0
318475    20.0
318476    20.0
Name: LowestSalary, Length: 318477, dtype: float64

In [6]:
data_norm = (data["HighestSalary"] - data["HighestSalary"].min()) / (data["HighestSalary"].max() - data["HighestSalary"].min())*20
data_norm

0          0.000000
1          0.000000
2          0.000000
3          0.000000
4          0.000000
5          0.000000
6          0.000000
7          0.000000
8          0.000000
9          0.000000
10         0.000000
11         0.000000
12         0.000000
13         0.000000
14         0.000000
15         0.000000
16         0.000000
17         0.000000
18         0.000000
19         0.000000
20         0.000000
21         0.000000
22         0.000000
23         0.000000
24         0.000000
25         0.000000
26         0.000000
27         0.000000
28         0.000000
29         0.000000
            ...
318447     2.476780
318448     2.476780
318449     2.476780
318450     2.476780
318451     2.476780
318452     2.476780
318453     2.476780
318454     2.476780
318455     2.476780
318456     2.476780
318457     2.476780
318458     3.508772
318459     3.508772
318460     3.508772
318461     3.508772
318462     3.508772
318463     3.508772
318464     3.508772
318465     3.508772
318466     3.508772
318467     3.508772
318468     3.508772
318469    20.000000
318470    20.000000
318471    20.000000
318472    20.000000
318473    20.000000
318474    20.000000
318475    20.000000
318476    20.000000
Name: HighestSalary, Length: 318477, dtype: float64

## Clean the data

In [7]:
data.index.values

array([     0,      1,      2, ..., 318474, 318475, 318476], dtype=int64)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  """Entry point for launching an IPython kernel.

False

## Hypothesis about the analysis outcome?(Vu)

## PART 2

## 1) Extract the relevant information to describe the job's attributes

## 2) Study the market by locations(Vu)

## 3) Study the market by sectors (Vu)

## 4) Visualize the result on an interactive web page

## 5) Using PySpark for data analysis

## PART 3

## 1) The finding of your data analytics

## 2) Actions for balancing the markets do you suggest based on your finding?

## 3) Refine the data analytics?

## 4) Are there any implications for employer and employees base on the finding you obtained? Justify your answer

## 5) Present and visualize your data story on a online web page[optional]